@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap");
/* . */
/* NAVBAR */
/* . */
.navbar-font {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  letter-spacing: 0.32px;
  text-transform: uppercase;
  text-decoration: none solid rgb(15, 15, 15);
  cursor: pointer;
  white-space: nowrap;
}

/* . */
/* CATEGORY NEW SCROLLBAR */
/* . */
.category-container-c {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.category-container-c .category-tab-c {
  display: flex;
  flex-direction: row;
  justify-content: left;
  white-space: nowrap;
}
.category-container-c .category-tab-c .category-ind-c {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
  width: max-content;
  height: min-content;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}
.category-container-c .category-tab-c .category-ind-c:hover {
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
}
.category-container-c .category-tab-c span {
  cursor: pointer;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.32px;
  /* color: rgb(77, 77, 77); */
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-right: 15px;
  word-wrap: break-word;
}
.scrollbar-new {
  height: 100;
  width: 500;
}

/* . */
/* HOME CONTAINER */
/* . */
.all-home {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.all-home .menu {
  flex: 1;
  margin-top: 10px;
  margin-left: 10px;
}
.all-home .menu h1 {
  font-family: "Rubik", sans-serif;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 0.32px;
  margin-top: 10px;
  text-align: center;
}
.all-home .menu .menu-container {
  display: flex;
  flex-wrap: wrap;
}

.leftside-basket {
}
/* . */
/* MENU (INDIVIDUAL PRODUCT) */
/* . */
.ind-menu {
  margin: 10px;
  float: left;
  width: 47%;
  height: 130px;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
}
@media (max-width: 1130px) {
  .ind-menu {
    width: 100%;
    float: none;
  }
}
.ind-menu:hover {
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.1);
}
.ind-menu .menu-img {
  display: inline-block;
  vertical-align: middle;
  width: 100px;
  height: 100px;
  margin-left: 15px;
  margin-right: 15px;
}
.ind-menu .menu-img img {
  max-width: inherit;
  width: inherit;
}
.ind-menu .menu-text {
}
.ind-menu .menu-text .title {
  font-family: "Merriweather", serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}
.ind-menu .menu-text .desc {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 40px;
  line-height: 20px;
  overflow: hidden !important;
  text-overflow: ellipsis;
  font-family: "Rubik", serif;
  font-size: 15px;
  color: rgb(130, 130, 130);
  margin-top: 2px;
  margin-bottom: 2px;
}
/* @media (max-width: 992px) {
  .ind-menu .menu-text .title {
    width: 235px;
  }
  .ind-menu .menu-text .desc {
    width: 235px;
  }
} */
.ind-menu .menu-text .price {
  font-family: "Rubik", sans-serif;
  letter-spacing: 0.32px;
  font-size: 18px;
  font-weight: 500;
  color: #e80532;
}
.ind-menu .btn-add {
  height: min-content;
  margin-left: auto;
  cursor: pointer;
}
.ind-menu .btn-add .addicon {
  margin-right: 15px;
  margin-left: 5px;
}

.test-color-krub {
  color: rgb(255, 218, 225);
}

.yourbasket-floatbtn {
  position: absolute;
  display: block;
  border-radius: 50%;
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.1);
}
/* .yourbasket-floatbtn:hover {
  border: 2px solid #e80532;
} */
.yourbasket-floatbtn .basket-icon {
  color: #e80532;
  margin: 3px 3px 13px 3px;
}

/* .yourbasket-floatbtn:hover .basket-icon {
  color: #fff;
} */

.action-btns-pointer {
  cursor: pointer;
}
